# For Loop Practice

In [2]:
print("faisal")
print("faisal")
print("faisal")
print("faisal")
print("faisal")

faisal
faisal
faisal
faisal
faisal

In [4]:
for a in range(5): #5 will not be included  (0,1,2,3,4)
    print("faisal")

faisal
faisal
faisal
faisal
faisal

In [6]:
for a in range(5):
    print(a,"faisal")

0 faisal
1 faisal
2 faisal
3 faisal
4 faisal

In [9]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [11]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [13]:
for num in range(1,10,3):
    print(num)

1
4
7

In [18]:
for num in range(10,1,-2):
    print(num)

10
8
6
4
2

In [21]:
cities = ["khi","multan","lahore"]
cities

['khi', 'multan', 'lahore']

In [23]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is khi
The city under consideration is multan
The city under consideration is lahore

In [25]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [27]:
country = "Pakistan", "America"

for char in country:
    print(char)

Pakistan
America


# For loop's break and continue

In [30]:
for number in range(10):
    if number%3==1:
        break
    print(number)

0

In [35]:
for number in [5,7,11,90]:
    if number%2==0:
        break
    print(number)

5
7
11

In [37]:
for number in range(10):
    if number==7:
        continue
    print(number)

0
1
2
3
4
5
6
8
9

In [40]:
for number in range(10):
    if number==7 or number==4:
        continue
    print(number)

0
1
2
3
5
6
8
9

# Nasted for loop

In [45]:
for a in range(5):
    print("Inner loop begins")
    for char in "China":
        print(a, char)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a

In [47]:
tableno = int(input("Enter Table number"))
for a in range(1,11):
    print(f"{tableno} * {a} = {tableno*a}")

Enter Table number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50