# list practices

In [61]:
alist = ["nasir","faisal"]

In [60]:
alist

['nasir', 'faisal']

In [9]:
alist.append("zeeshan")

In [10]:
alist

['nasir', 'faisal', 'zeeshan']

In [11]:
alist.insert(1,"arslan")

In [12]:
alist

['nasir', 'arslan', 'faisal', 'zeeshan']

In [17]:
alist.extend(["riaz", "riaz", "riaz"])
alist

['nasir', 'arslan', 'faisal', 'zeeshan', 'riaz', 'riaz', 'riaz']

In [19]:
alist.count("riaz")

3

In [20]:
alist.index("riaz")

4

In [26]:
alist.clear()

In [27]:
alist

[]

In [28]:
alist = ["nasir","faisal"]
alist

['nasir', 'faisal']

In [29]:
alist1=alist.copy()   # by value
alist

['nasir', 'faisal']

In [30]:
alist2 = alist   # by reference
alist

['nasir', 'faisal']

In [31]:
alist.append("zeeshan")
alist2

['nasir', 'faisal', 'zeeshan']

# removing an item from a list

In [32]:
del alist2[1]
alist2

['nasir', 'zeeshan']

In [33]:
alist.remove("nasir")
alist

['zeeshan']

In [34]:
alist = ["nasir","faisal"]
alist

['nasir', 'faisal']

In [37]:
poppedList=alist.pop()
print(f"This list is popped from list {poppedList}")
print(f"The remining alist are {alist}")

IndexError: pop from empty list

In [38]:
alist = ["nasir","faisal"]
alist

['nasir', 'faisal']

In [39]:
poppedList = alist.pop(1)
poppedList

'faisal'

In [47]:
alist = ["nasir","faisal"]
alist

['nasir', 'faisal']

In [48]:
alist.sort()
alist

['faisal', 'nasir']

In [49]:
alist.sort(reverse=True)
alist

['nasir', 'faisal']

In [50]:
alist.reverse()
alist

['faisal', 'nasir']

In [62]:
fruits = ["apple","cherry","mango","orange"]
fruits

['apple', 'cherry', 'mango', 'orange']

In [63]:
fruits.insert(3,"blueberry")
fruits

['apple', 'cherry', 'mango', 'blueberry', 'orange']

In [67]:
fruits.extend(["orange","mango","appple","orange","orange"])
fruits

['apple',
 'cherry',
 'mango',
 'blueberry',
 'orange',
 'orange',
 'mango',
 'appple',
 'orange',
 'orange']

In [69]:
fruits.count("orange")

4

In [70]:
fruits.index("blueberry")

3

In [71]:
fruits.clear()

In [72]:
fruits

[]

In [73]:
fruits = ["apple","cherry","mango","orange"]
fruits

['apple', 'cherry', 'mango', 'orange']

In [74]:
fruits2=fruits.copy()  #by value
fruits

['apple', 'cherry', 'mango', 'orange']

In [75]:
fruits3 = fruits     #by reference
fruits3

['apple', 'cherry', 'mango', 'orange']

In [76]:
fruits.append("newfruits")
fruits3

['apple', 'cherry', 'mango', 'orange', 'newfruits']

In [77]:
fruits2

['apple', 'cherry', 'mango', 'orange']

# Removing an item from a list

In [78]:
del fruits2[1]
fruits2

['apple', 'mango', 'orange']

# Finding a value in list

In [86]:
apple in of fruits2

SyntaxError: invalid syntax (<ipython-input-86-bba8c4ef13b2>, line 1)

# list slicing the elements

In [87]:
fruits[0:4]

['apple', 'cherry', 'mango', 'orange']

In [114]:
#index       -4        -3         -2    -1
students=["Faisal","Zeeshan","Arslan","Umer"]
students 
#index      0          1          2     3

['Faisal', 'Zeeshan', 'Arslan', 'Umer']

In [116]:
print(students[3])
print(students[-1])

Umer
Umer

In [102]:
students[0:4]

['Faisal', 'Zeeshan', 'Arslan', 'Umer']

In [100]:
students[-3:-1]

['Zeeshan', 'Arslan']

In [101]:
students[2:-1]

['Arslan']

In [103]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [104]:
num[0:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [105]:
num[::5]

[1, 6, 11, 16]

In [106]:
num[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [113]:
num[::4]

[1, 5, 9, 13, 17]

In [117]:
num[:7]

[1, 2, 3, 4, 5, 6, 7]

In [118]:
num[7:]

[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Tupples

In [119]:
# tupples are immutable
atupple = ("Faisal",3,"RIAZ")
atupple

('Faisal', 3, 'RIAZ')

In [120]:
len(atupple)

3

In [121]:
atupple[1]

3

In [122]:
del atupple[1]

TypeError: 'tuple' object doesn't support item deletion

In [123]:
atupple.index(3)

1

In [124]:
a = 23,45
a

(23, 45)